.from-container {
  width: 500px;
  margin: auto;
  border: 1px solid rgb(197, 196, 196);
  border-radius: 10px;
  padding: 20px;
  background-color: rgb(146, 253, 200);
  box-shadow: 8px 5px 10px rgb(187, 186, 186);
  
}

.from-area {
  width: 50%;
  margin: auto;
}

.from-heading {
  text-align: center;
  font-size: 18px;
  font-weight: 600px;
  margin: 16px 0 35px 0;
}

.input-row {
  display: flex;
  justify-content: left;
  justify-items: center;
  gap: 10px;
  margin: 16px 0 16px 0;
}

.input-label {
  font-size: 18px;
  font-weight: 500;

}

.input-field {
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid gray;
  width: 200px;
  padding: 4px;
}

.input-select {
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid gray;
  width: 200px;
  padding: 4px;
}

.group-option {
  font-size: 15px;
  border: 1px solid gray;
  background-color: rgb(207, 211, 208);
 padding-left: 10px;
 font-size: 16px;
 font-weight: 600;
}

.option {
  font-size: 15px;
 
}


.input-checkbox {
  font-size: 30px;
  cursor: pointer;
}
 

.submit {
  font-size: 18px;
  padding: 3px 30px 3px 30px;
  background: rgb(99, 127, 252);
  border: 1px solid gray;
  border-radius: 6px;
  cursor: pointer;
  margin: 5px 0 5px 0;
}

.App {
  padding: 20px;
}

@media screen and (max-width: 600px)  {
  .from-container {
    width: 250px;
    margin: auto;
  }
}

@media screen and (max-width: 900px)  {
  .from-container {
    width: 500px;
    margin: auto;
  }
}

